.one {
  background-color: whitesmoke;
}

.two {
  list-style-position: inside;
  counter-reset: ol;
  text-align: center;
  background-color: lightgray;
}

.two > li {
  counter-increment: ol;
}

.two > li::marker {
  white-space: pre-wrap;
  content: counter(ol) "- \A";
  color: orange;
  font-size: 200%;
}

.three {
  list-style-position: inside;
  text-align: center;
  background-color: lightyellow;
}

.three > li::marker {
  white-space: pre-wrap;
  content: "<>\A";
  color: red;
  font-size: 200%;
}
